<div class="is-boxed has-animations is-loaded lights-off">
  <div class="body-wrap boxed-container">
    <main>
      <section class="hero">
        <div class="container">
          <div class="hero-inner">
            <div class="hero-copy">
              <h1 class="hero-title mt-0">I finished your artwork!</h1>
              <p class="hero-paragraph">Scroll down for your free download</p>
            </div>
            <div class="hero-media">
              <div class="header-illustration">
                <img
                  class="header-illustration-image asset-dark"
                  src="assets/landing-page-template/images/header-illustration-dark.svg"
                  alt="Header illustration"
                />
              </div>
              <div class="hero-media-illustration">
                <img
                  class="hero-media-illustration-image asset-dark"
                  src="assets/landing-page-template/images/hero-media-illustration-dark.svg"
                  alt="Hero media illustration"
                />
              </div>
              <div class="hero-media-container">
                <img
                  class="hero-media-image asset-dark"
                  [src]="stylizedImage?.publicUrl"
                  alt="Hero media"
                />
              </div>
            </div>
            <div class="like-container">
              <p>Do you like it?</p>
              <div class="like-buttons-container">
                <button
                  [class.selected]="stylizedImage?.userReaction === 'Love it!'"
                  (click)="onChangeUserReaction('Love it!')"
                >
                  <div class="button-content-container">
                    <p>Love it!</p>
                  </div>
                </button>
                <button
                  [class.selected]="stylizedImage?.userReaction === 'Yes'"
                  (click)="onChangeUserReaction('Yes')"
                >
                  <div class="button-content-container">
                    <p>Yes</p>
                  </div>
                </button>
                <button
                  [class.selected]="
                    stylizedImage?.userReaction === 'It\'s okay'
                  "
                  (click)="onChangeUserReaction('It\'s okay')"
                >
                  <div class="button-content-container">
                    <p>It's okay</p>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="personal-quote">
        <div class="container">
          <img
            src="assets/images/profile-image-nico.jpg"
            alt=""
            class="profile-image"
          />
          <h2>
            {{
              stylizedImage?.personalQuote?.title ||
                "Thank you for your picture!"
            }}
          </h2>
          <p class="text">
            {{
              stylizedImage?.personalQuote?.text ||
                "It was so much fun working on your picture! I hope you like the outcome!"
            }}
          </p>
          <p class="signature">- Nico -</p>
        </div>
      </section>
      <section class="donate-or-share">
        <div class="container">
          <div class="buy-me-a-coffee-button-container">
            <p>If you can...</p>
            <a
              class="primary-btn"
              href="https://www.buymeacoffee.com/nicoburkart"
              target="_blank"
              (click)="onClickDonateButton()"
              >Buy me a coffee ☕</a
            >
          </div>
          <div *ngIf="isSharingApiSupported" class="share-button-container">
            <p>Or share the image with your friends and family</p>
            <button (click)="onClickShareButton()">
              <div class="button-content-container">
                <p>Share</p>
                <svg
                  version="1.1"
                  id="Layer_1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  viewBox="0 0 512 512"
                  style="enable-background: new 0 0 512 512"
                  xml:space="preserve"
                >
                  <g>
                    <polygon
                      points="334.9,120.6 256,41.7 177.1,120.6 156.3,99.7 256,0 355.7,99.7 	"
                    />
                    <rect x="241.1" y="20.8" width="29.8" height="312.6" />
                    <path
                      d="M404.8,512H107.2c-25.3,0-44.7-19.4-44.7-44.7V199.4c0-25.3,19.3-44.7,44.7-44.7h104.2v29.8H107.2c-8.9,0-14.9,6-14.9,14.9
		v267.9c0,8.9,6,14.9,14.9,14.9h297.7c8.9,0,14.9-6,14.9-14.9V199.4c0-8.9-6-14.9-14.9-14.9H300.7v-29.8h104.2
		c25.3,0,44.7,19.3,44.7,44.7v267.9C449.5,492.6,430.1,512,404.8,512z"
                    />
                  </g>
                </svg>
              </div>
            </button>
          </div>
        </div>
      </section>
      <section class="download">
        <div class="container">
          <button
            class="primary-btn download-button"
            (click)="onClickDownloadButton()"
          >
            Download Free Artwork
          </button>
        </div>
      </section>
    </main>
  </div>
</div>
<app-custom-footer></app-custom-footer>
