<app-support-modal></app-support-modal>
<div *ngIf="modalIsActive" class="modal-active"></div>
<div class="is-boxed has-animations is-loaded lights-off">
  <div class="body-wrap boxed-container">
    <main>
      <section class="hero">
        <div class="container">
          <div class="hero-inner">
            <div class="hero-copy">
              <h1 class="hero-title mt-0">I finished your artwork!</h1>
              <p class="hero-paragraph">Scroll down for your free download</p>
            </div>
            <div class="hero-media">
              <div class="header-illustration">
                <img
                  class="header-illustration-image asset-dark"
                  src="assets/landing-page-template/images/header-illustration-dark.svg"
                  alt="Header illustration"
                />
              </div>
              <div class="hero-media-illustration">
                <img
                  class="hero-media-illustration-image asset-dark"
                  src="assets/landing-page-template/images/hero-media-illustration-dark.svg"
                  alt="Hero media illustration"
                />
              </div>
              <div class="hero-media-container">
                <canvas
                  #canvas
                  class="hero-media-image asset-dark"
                  alt="Hero media"
                  (click)="download()"
                  height="811"
                  width="1080"
                ></canvas>
              </div>
            </div>
            <div class="like-container">
              <p>Do you like it?</p>
              <div class="like-buttons-container">
                <button
                  [class.selected]="stylizedImage?.userReaction === 'Love it!'"
                  (click)="onChangeUserReaction('Love it!')"
                >
                  <div class="button-content-container">
                    <p>Love it!</p>
                  </div>
                </button>
                <button
                  [class.selected]="stylizedImage?.userReaction === 'Yes'"
                  (click)="onChangeUserReaction('Yes')"
                >
                  <div class="button-content-container">
                    <p>Yes</p>
                  </div>
                </button>
                <button
                  [class.selected]="
                    stylizedImage?.userReaction === 'It\'s okay'
                  "
                  (click)="onChangeUserReaction('It\'s okay')"
                >
                  <div class="button-content-container">
                    <p>It's okay</p>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="personal-quote">
        <div class="container">
          <img
            src="assets/images/profile-image-nico.jpg"
            alt=""
            class="profile-image"
          />
          <h2>
            {{
              stylizedImage?.personalQuote?.title ||
                "Thank you for your picture!"
            }}
          </h2>
          <p class="text">
            {{
              stylizedImage?.personalQuote?.text ||
                "It was so much fun working on your picture! I hope you like the outcome!"
            }}
          </p>
          <p class="signature">- Nico -</p>
        </div>
      </section>
      <section class="download">
        <div class="container">
          <a
            [href]="stylizedImage?.publicUrl"
            target="_blank"
            class="primary-btn"
            (click)="onClickDownloadButton()"
          >
            Download High Quality
          </a>
          <a
            [href]="stylizedImage?.publicUrl"
            target="_blank"
            class="primary-btn download-button"
            (click)="onClickDownloadButton()"
          >
            Download Low Quality
          </a>
        </div>
      </section>
    </main>
  </div>
</div>
<app-custom-footer></app-custom-footer>
