@import "../../../colors.scss";

:host {
  display: flex;
  flex-direction: column;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 450px;
    right: 0;
    width: calc(733px / 2);
    height: calc(749px / 2);
    background-image: url("/assets/landing-page-template/images/hero-media-illustration-dark.svg");
    background-size: cover;
    z-index: -1;
  }
}

.upload-img {
  margin-top: 1rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  transform: translateY(1rem) scale(1.5);
}

.swiper-pagination {
  background-color: rgba(255, 255, 255, 0.459);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50px;
}

div.back-arrow-container {
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 2;

  & > a {
    display: inline-block;
    padding: 0.5rem;

    & > svg {
      display: block;
      filter: drop-shadow(0 0 5px hsla(0, 0%, 30%, 0.5));

      & > path {
        fill: white;
      }
    }
  }
}

div.image-outer-container {
  padding-top: 80%;
  position: relative;

  & > div.image-inner-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(61, 64, 98);
    background: linear-gradient(
      149deg,
      rgba(61, 64, 98, 1) 0%,
      rgba(22, 24, 53, 1) 100%,
      rgba(20, 22, 51, 1) 100%,
      rgba(20, 22, 51, 1) 100%
    );

    & > img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: drop-shadow(12px 12px 25px rgba(0, 0, 0, 0.5));
    }
  }
}

.swiper-preview {
  width: 100%;
}

div.container {
  padding-bottom: 0;
  & > section:first-child {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    & > h1 {
      font-size: 1.75rem;
    }

    & > p {
      color: $secondary-font-color;
      font-size: 1rem;

      & > span {
        font-size: 1.75rem;
        color: $primary-font-color;
      }
    }
  }

  & > p.description {
    font-size: 1.25rem;
    color: $tertiary-font-color;
    margin-top: 1rem;
  }

  & > form.personalisation-form {
    h2 {
      font-size: 1.75rem;
      font-family: m-reg;
      margin-bottom: 1rem;
    }

    div.form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.6rem;
      position: relative;
      label {
        color: $secondary-font-color;
        font-size: 1rem;
        margin-bottom: 0.8rem;
      }
      div.custom-file-input {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        border: dashed 3px #ffffff;
        border-radius: 4px;
        padding: 1.5rem;
        box-sizing: content-box;

        div.background {
          z-index: -1;
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background-color: $secondary-background-color;
        }
        input {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
        }
      }
      div.custom-file-input {
        p {
          color: $primary-background-color;
          font-family: m-semi-bold;
          font-size: 1.3rem;
          margin-bottom: auto;
          text-align: center;
        }
        img.upload-icon {
          height: 4rem;
          margin-bottom: 1rem;
        }
        img.picture-illustration {
          width: 100%;
          transform: scale(1.2);
        }
      }
      input {
        &[type="file"] {
          opacity: 0;
          position: absolute;
          bottom: 0;
          padding: 0;
          width: 100%;
        }

        &:not([type="file"]) {
          color: $primary-font-color;
          font-size: 1.25rem;
          &::placeholder {
            color: $placeholder-font-color;
          }
        }
      }
    }
  }
}

app-custom-footer {
  margin-top: 3.5rem;
}
