<div class="swiper-container swiper-preview">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="square-ratio">
        <img
          class="transparent-background"
          src="/assets/images/pacho_sprinkle_preview_transparent.png"
          alt=""
        />
      </div>
    </div>
    <div class="swiper-slide">
      <div class="square-ratio">
        <img class="shadowed-img" src="/assets/images/lola_mockup.png" alt="" />
      </div>
    </div>
  </div>
</div>

<div class="header container">
  <div class="title-price">
    <h2 class="product-title">Custom Mug</h2>
    <p class="price">29.99€</p>
  </div>
  <div class="style-price">
    <h3 class="art-style">Sprinkle Style</h3>
  </div>
</div>

<form class="personalisation-form container">
  <h2>Personalisation</h2>
  <div class="form-group">
    <label for="name">Pet name (optional)</label>
    <input type="text" name="" id="name" />
  </div>
  <div class="form-group">
    <label for="birth">Pet birthmonth (optional)</label>
    <input type="date" name="" id="birth" />
  </div>
  <div class="form-group">
    <label for="picture">Pet picture</label>
    <div class="custom-file-input"><button>Upload Pet Photo</button></div>
    <input type="file" name="" id="picture" />
  </div>
  <button class="primary-btn">Create My Art</button>
  <!-- <div class="transition-radius"></div> -->
</form>

<app-description-swiper class="description"></app-description-swiper>
