@import "../../../colors.scss";

:host {
  display: block;
  height: 100%;
  position: relative;

  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: -140px;
  //   right: -100px;
  //   width: 1440px;
  //   height: 324px;
  //   background-image: url("/assets/landing-page-template/images/header-illustration-dark.svg");
  //   z-index: -1;
  // }

  // &::after {
  //   content: "";
  //   position: absolute;
  //   top: 150px;
  //   left: -50px;
  //   width: 728px;
  //   height: 458px;
  //   background-image: url("/assets/landing-page-template/images/features-illustration-dark.svg");
  //   z-index: -1;
  // }
}

div.back-arrow-container {
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 2;

  & > a {
    display: inline-block;
    padding: 0.5rem;

    & > svg {
      display: block;
      filter: drop-shadow(0 0 5px hsla(0, 0%, 30%, 0.5));

      & > path {
        fill: white;
      }
    }
  }
}

header {
  display: flex;
  justify-content: center;

  & > h1 {
    font-family: m-bold;
    font-size: 2rem;
    line-height: 2rem;
    padding-top: calc(2.5rem + 12px - 1rem);
  }
}

div.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  & > div.style {
    display: flex;
    flex-direction: column;
    align-items: center;

    .style-box {
      width: 100%;
      position: relative;
      img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 5px;
      }
      a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        background-color: $secondary-background-color;
        width: 100%;
        bottom: 0;
        padding: 0.5rem 1.2rem;
        border-radius: 0 0 5px 5px;
        box-sizing: border-box;
        font-family: m-semi-bold;
        color: $primary-background-color;
        img {
          height: 2rem;
          width: 2rem;
          object-fit: contain;
        }
      }
    }

    p {
      align-self: flex-start;
      margin-bottom: 1rem;
      font-family: m-semi-bold;
      color: $secondary-font-color;
      font-size: 1.5rem;
    }
  }
}
