<div class="back-arrow-container">
  <a routerLink="/">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
    >
      <path d="M0 12l9-8v6h15v4h-15v6z" />
    </svg>
  </a>
</div>
<header>
  <h1>Art-Styles</h1>
</header>
<div class="container">
  <div class="grid">
    <div *ngFor="let styleImage of styleImages" class="style">
      <div
        class="square-ratio"
        routerLink="/product-detail"
        [queryParams]="{ styleImageId: styleImage.id }"
      >
        <img [src]="styleImage.publicUrl" alt="" />
      </div>
      <h3 class="style-title">{{ styleImage.name }}</h3>
    </div>
  </div>
</div>
