<div class="container">
  <div class="grid">
    <div *ngFor="let styleImage of styleImages; let i = index" class="style">
      <p>{{ styleImage.name }}</p>
      <div
        class="style-box"
        routerLink="/image-upload"
        [queryParams]="{ styleImageId: styleImage.id }"
      >
        <img [src]="styleImage.publicUrl" alt="" />
        <a
          >Use This Style <img src="/assets/icons/circle-arrow.svg" alt=""
        /></a>
      </div>
    </div>
  </div>
</div>
<app-custom-footer></app-custom-footer>
