@import "../../../colors.scss";

:host {
  display: block;
  height: 100%;
  position: relative;
  overflow-y: auto;

  &::before {
    content: "";
    position: absolute;
    top: -140px;
    right: -100px;
    width: 1440px;
    height: 324px;
    background-image: url("/assets/landing-page-template/images/header-illustration-dark.svg");
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -50px;
    width: 728px;
    height: 458px;
    background-image: url("/assets/landing-page-template/images/features-illustration-dark.svg");
    z-index: -1;
  }
}

div.back-arrow-container {
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 2;

  & > a {
    display: inline-block;
    padding: 0.5rem;

    & > svg {
      display: block;
      filter: drop-shadow(0 0 5px hsla(0, 0%, 30%, 0.5));

      & > path {
        fill: white;
      }
    }
  }
}

header {
  display: flex;
  justify-content: center;

  & > h1 {
    font-family: m-bold;
    font-size: 2rem;
    line-height: 2rem;
    padding-top: calc(2.5rem + 12px - 1rem);
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  div.style {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      border-radius: 10px;
      height: 100%;
      object-fit: cover;
      object-position: bottom;
    }
    p {
      margin-top: 1rem;
      font-family: m-bold;
      color: $subheading-color;
      font-size: 1.125rem;
    }
  }
}
