<div class="container">
  <h1 class="header">Paint Your Pet!</h1>

  <div class="hero-box square-ratio">
    <div class="background">
      <img class="shadowed-img" src="/assets/images/hero-image.png" alt="" />
    </div>
  </div>

  <!-- <div class="swiper-container swiper-hero">
    <div class="swiper-wrapper">
      <div class="swiper-slide blue-background">
        <div class="square-ratio">
          <img
            id="person-mockup"
            class="shadowed-img"
            src="/assets/images/hero-image.png"
            alt=""
          />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="square-ratio">
          <img id="cat-mockup" src="/assets/images/cat_mug_mockup.png" alt="" />
        </div>
      </div>
    </div>
  </div> -->
  <div class="button-wrapper">
    <button class="primary-btn">Choose Art-Style</button>
  </div>
</div>
