<div class="image-outer-container">
  <div class="image-inner-container">
    <img src="assets/images/lola_mockup.png" alt="" />
  </div>
</div>
<div class="content-container">
  <section class="top-card">
    <h1>Personalization Summary</h1>
    <ul>
      <li>
        <p>Pet name</p>
        <p>PET_NAME</p>
      </li>
      <li>
        <p>Pet birthmonth</p>
        <p>PET_BIRTHMONTH</p>
      </li>
    </ul>
  </section>
  <section class="bottom-card">
    <div class="paragraphs-container">
      <p>
        We will send you a preview of your dog on the mug within the next two
        hours to your mail address.
      </p>
      <p>If you like the mug you can purchase it with the link in the mail.</p>
    </div>
    <form>
      <div class="form-group">
        <label for="name">Email</label>
        <input type="email" name="" id="name" required />
      </div>
      <button class="primary-btn" type="submit">Create My Art</button>
    </form>
  </section>
</div>
