<div class="back-arrow-container">
  <a routerLink="/product-detail" queryParamsHandling="preserve">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
    >
      <path d="M0 12l9-8v6h15v4h-15v6z" />
    </svg>
  </a>
</div>
<div class="image-outer-container">
  <div class="image-inner-container">
    <img [src]="imageSrc" alt="" />
  </div>
</div>
<div class="content-container">
  <section class="top-card">
    <h2>Personalisation Overiew</h2>
    <ul>
      <li>
        <p>Pet name</p>
        <p>{{ petName }}</p>
      </li>
      <li>
        <p>Pet birthmonth</p>
        <p>{{ petBirthMonth }}</p>
      </li>
    </ul>
  </section>
  <section class="bottom-card">
    <h2>Shipment</h2>
    <div class="paragraphs-container">
      <p>
        We will send you a preview of your dog on the mug within the next two
        hours to your mail address.
      </p>
      <p>If you like the mug you can purchase it with the link in the mail.</p>
    </div>
    <form ngNativeValidate (submit)="onSubmitForm($event)">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          required
          (keyup)="email = $event.target.value"
        />
      </div>
      <button class="primary-btn" type="submit" [class.disabled]="!email">
        Submit
      </button>
    </form>
  </section>
</div>
<div class="screen-overlay" [class.visible]="shouldShowSpinner">
  <div class="dark-box"></div>
  <img src="assets/images/loading-spinner.svg" alt="" />
</div>
