<div class="back-arrow-container">
  <a routerLink="/mug-preview" queryParamsHandling="preserve">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
    >
      <path d="M0 12l9-8v6h15v4h-15v6z" />
    </svg>
  </a>
</div>
<div class="image-outer-container">
  <div class="image-inner-container">
    <img [src]="stylizedImage?.mugPreviewImagePublicUrl" alt="" />
  </div>
</div>
<div class="container">
  <section>
    <h1>Personalisation Overiew</h1>
    <ul>
      <li>
        <p>Pet name</p>
        <p>{{ petName || "Not provided" }}</p>
      </li>
      <li>
        <p>Pet birthmonth</p>
        <p>{{ petBirthMonth || "Not provided" }}</p>
      </li>
    </ul>
  </section>
  <hr class="seperator" />
  <section>
    <h2>How to get hold of your customised mug ☕</h2>
    <div class="paragraphs-container">
      <p>
        Since we from PetAI have just begun our journey to provide pet-lovers
        with pawsome customised products we sadly do not have a fully-fledged
        out automatic payment system yet 😭
      </p>
      <p>
        However, we would still be more than happy to ship you the mug and put a
        smile on your face every time you take a sip 😊
      </p>
      <p>
        If you would like that to happen too just click the button below and we
        will get in touch with you about payment instructions shortly 📧
      </p>
      <p>Thank you!</p>
    </div>
    <form ngNativeValidate (submit)="onSubmitForm($event)">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          required
          [value]="email"
          (keyup)="email = $event.target.value"
          placeholder="john-doe@gmail.com"
        />
      </div>
      <button class="primary-btn" type="submit" [class.disabled]="!email">
        Submit
      </button>
    </form>
  </section>
</div>
<div class="screen-overlay" [class.visible]="shouldShowSpinner">
  <div class="dark-box"></div>
  <img src="assets/images/loading-spinner.svg" alt="" />
</div>
