<h2>How it works</h2>
<div class="step">
  <img src="/assets/icons/dog_photo.svg" alt="" />
  <h3>Upload Photo</h3>
  <p>
    A well lit pet photo will work best<br />
    Blurry photos don't work well
  </p>
</div>

<div class="step">
  <img src="/assets/icons/thumbs_up.svg" alt="" />
  <h3>Approve Art</h3>
  <p>
    In about one day<br />
    you can approve your art
  </p>
</div>

<div class="step">
  <img src="/assets/icons/bag.svg" alt="" />
  <h3>Order If You Like It</h3>
  <p>
    Once you approved the art,<br />
    order your product
  </p>
</div>
