<footer>
  <section class="contact-information">
    <h6>Contact</h6>
    <ul>
      <li>info@paintable-paws.com</li>
      <li>Straßburger Str. 56, 70435 Stuttgart, Germany</li>
    </ul>
  </section>
  <section class="social-media">
    <h6>Social Media</h6>
    <ul>
      <li>
        <a href="https://www.instagram.com/paintablepaws/" target="_blank">
          <img src="assets/logos/instagram-logo.svg" alt="" />
        </a>
      </li>
      <li>
        <a>
          <img src="assets/logos/facebook-logo.svg" alt="" />
        </a>
      </li>
    </ul>
  </section>
  <p>&#169; 2021 Paintable Paws</p>
</footer>
<img
  class="svg"
  src="assets/landing-page-template/images/cta-illustration-dark.svg"
  alt=""
/>
