<div class="toggle">
  <h4 [class.active]="isDescriptionActive" (click)="toggleTo(0)">
    Description
  </h4>
  <h4 [class.active]="!isDescriptionActive" (click)="toggleTo(1)">Shipping</h4>
</div>

<div class="swiper-container swiper-product-info">
  <div class="swiper-wrapper">
    <div class="container swiper-slide description">
      <h2>Do you like our work on your photo?</h2>
      <p>
        🐾 Is your pet one of a kind? If so, they deserve a one of a kind piece
        of art.
      </p>
      <p>
        🎁 It is the pawfect gift or memorial for your little buddy! It's
        creative & unique!
      </p>
      <p>
        🤖 Your Image is created by our AI-Artists and who can say they have
        their pet painted by artificial intelligence? What a great conversation
        starter!
      </p>
      <p style="margin-bottom: 2rem">
        🎨 Our artists can create a high resolution version of your artwork and
        if you want - we can even print it for you!
      </p>
      <h2>Digital File (Premium Version)</h2>
      <p>
        🤖 To get the most out of your picture our ai will put hours into the
        perfection of your artwork!
      </p>
      <p style="margin-bottom: 2rem">
        ✨ When it is finished you will get a 2160px digital image sent to your
        e-mail. You could use it as a desktop or phone background or print and
        frame it!
      </p>
      <h2>High Quality Artwork</h2>
      <p>
        🖨️ Let us professionally print and ship you the artwork from one of our
        partners
      </p>
      <p>📐 The artwork will be 30x45cm in size</p>
      <p>
        🖼️ Museum-quality poster made on long-lasting semi-glossy (silk) paper
      </p>
      <p>
        ✔️ The digital premium version is inclusive and will be send to your
        e-mail
      </p>
    </div>
    <div class="container swiper-slide shipping">
      sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
      dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
      justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
      sanctus est Lorem ipsum dolor sit amet.
    </div>
  </div>
</div>
