<div class="toggle">
  <h4 [class.active]="isDescriptionActive" (click)="toggleTo(0)">
    Description
  </h4>
  <h4 [class.active]="!isDescriptionActive" (click)="toggleTo(1)">Shipping</h4>
</div>

<div class="swiper-container swiper-product-info">
  <div class="swiper-wrapper">
    <div class="swiper-slide description">
      <p>
        👨‍🎨 Our artists design your custom pet artwork with love, care and
        attention. Capturing your pet's unique personality and facial
        expression, and turning your pet photo into an incredible one of a kind
        pet art, ready to show off to friends and family!
      </p>
      <p>
        ✔️ You don't spend a single penny before you haven't approved the
        artwork. (This will take around one day after you have submitted your
        photo)
      </p>
      <p>
        ☕ Our 11oz mugs are perfect for sipping your morning coffee or any
        drink while at your office or college desk. Seeing your pet’s cute face
        will surely brighten up any stressful work day!
      </p>

      <ul>
        <li>
          😂🥰 A conversation starter when friends and family come to visit
        </li>
        <li>🎨 Your pet portrait will be printed using never-fade ink</li>
        <li>
          🐶🐱 Totally customised to your pet. Finally, a mug as unique as your
          pet’s perfect face!
        </li>
      </ul>

      <p>
        🎁 Our customized pet mugs make the most thoughtful gifts to pet owners
        everywhere. Give away a gift that will create a brilliant memory. The
        unboxing and reaction experience is so heart-warming!
      </p>
      <h5>How to get the preview</h5>
      <ol>
        <li>Pick your art-style</li>
        <li>Upload your pet photo using the "Upload Pet Photo" button</li>
        <li>
          Optionally enter your pet's name and birthmonth + year (if you want
          them to be additionally printed on the mug)
        </li>
        <li>Submit your email where we should send the artwork to</li>
        <li>
          In about one day - approve your art and buy if you are happy with the
          outcome!
        </li>
      </ol>
    </div>
    <div class="container swiper-slide shipping">
      <p>🇺🇸 Shipping in the USA is free</p>
      <p>🌎 Outside the USA shipping will be max 4.99 $</p>

      <p>✔️ You only pay after you have approved your art</p>
    </div>
  </div>
</div>
