<div class="is-boxed has-animations is-loaded lights-off">
  <div class="body-wrap boxed-container">
    <header class="site-header">
      <div class="container">
        <div class="site-header-inner">
          <div class="brand header-brand">
            <h1 class="m-0">
              <a>
                <img
                  class="header-logo-image asset-dark"
                  src="assets/icons/petai-logo.svg"
                  alt="Logo"
                />
              </a>
            </h1>
          </div>
        </div>
      </div>
    </header>

    <main>
      <section class="hero">
        <div class="container">
          <div class="hero-inner">
            <div class="hero-copy">
              <h1 class="hero-title mt-0">
                Turn Your Pet <br />
                Into A Work Of Art
              </h1>
              <p class="hero-paragraph">Let us work on your pawsome picture!</p>
              <div class="hero-cta">
                <a class="primary-btn" routerLink="/styles-selection"
                  >Get Free Artwork</a
                >
              </div>
            </div>
            <div class="hero-media">
              <div class="header-illustration">
                <img
                  class="header-illustration-image asset-dark"
                  src="assets/landing-page-template/images/header-illustration-dark.svg"
                  alt="Header illustration"
                />
              </div>
              <div class="hero-media-illustration">
                <img
                  class="hero-media-illustration-image asset-dark"
                  src="assets/landing-page-template/images/hero-media-illustration-dark.svg"
                  alt="Hero media illustration"
                />
              </div>
              <div class="hero-media-container">
                <img
                  class="hero-media-image asset-dark"
                  src="assets/landing-page-template/images/hero-media-dark.jpg"
                  alt="Hero media"
                />
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="features section">
        <div class="container">
          <div class="features-inner section-inner has-bottom-divider">
            <div class="features-header text-center">
              <div class="container-sm">
                <h2 class="section-title mt-0">Artify Your Picture</h2>
                <p class="section-paragraph">
                  It's super simple and super quick! We turn it into art within
                  24h!
                </p>
                <div class="features-image">
                  <img
                    class="features-illustration asset-dark"
                    src="assets/landing-page-template/images/features-illustration-dark.svg"
                    alt="Feature illustration"
                  />
                  <img
                    class="features-box asset-dark"
                    src="assets/landing-page-template/images/features-box-dark.jpg"
                    alt="Feature box"
                  />
                  <img
                    class="features-illustration asset-dark"
                    src="assets/landing-page-template/images/features-illustration-top-dark.svg"
                    alt="Feature illustration top"
                  />
                </div>
              </div>
            </div>
            <div class="features-wrap">
              <div class="feature" ngsReveal>
                <div class="feature-inner">
                  <div class="feature-icon">
                    <img
                      class="asset-dark"
                      src="assets/landing-page-template/images/feature-01-dark.svg"
                      alt="Feature 01"
                    />
                  </div>
                  <div class="feature-content">
                    <h3 class="feature-title mt-0">Submit a picture</h3>
                    <p class="text-sm mb-0">
                      Take a picture of your furbaby and send it to us.
                    </p>
                  </div>
                </div>
              </div>
              <div class="feature" ngsReveal>
                <div class="feature-inner">
                  <div class="feature-icon">
                    <img
                      class="asset-dark"
                      src="assets/landing-page-template/images/feature-02-dark.svg"
                      alt="Feature 02"
                    />
                  </div>
                  <div class="feature-content">
                    <h3 class="feature-title mt-0">
                      We create the art for free
                    </h3>
                    <p class="text-sm mb-0">
                      The digital painting is completly free!
                    </p>
                  </div>
                </div>
              </div>
              <div class="feature" ngsReveal>
                <div class="feature-inner">
                  <div class="feature-icon">
                    <img
                      class="asset-dark"
                      src="assets/landing-page-template/images/feature-03-dark.svg"
                      alt="Feature 03"
                    />
                  </div>
                  <div class="feature-content">
                    <h3 class="feature-title mt-0">Finished within 24h</h3>
                    <p class="text-sm mb-0">
                      We will send you a mail to download your work of art.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="cta section">
        <div class="container-sm">
          <div class="cta-inner section-inner">
            <div class="cta-header text-center">
              <h2 class="section-title mt-0">Choose from three art-styles</h2>
              <p class="section-paragraph">
                We offer three different and unique styles you can choose from.
              </p>
              <div class="cta-cta">
                <a class="primary-btn" routerLink="/styles-selection"
                  >Get Free Artwork</a
                >
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</div>
