@import "styles/style.scss";
@import "../../../../../colors.scss";

:host {
  box-sizing: border-box;
}

.container {
  padding-top: 0;
  padding-bottom: 0;
}

h1,
h2,
h3 {
  font-family: m-bold;
}

h1.hero-title {
  font-size: 3rem;
}

h2.section-title {
  font-size: 1.5rem;
}

h3.feature-title {
  font-size: 1.375rem;
}

div,
p {
  color: $tertiary-font-color;
}

p.hero-paragraph {
  color: $secondary-font-color;
  font-size: 1.5rem !important;
}

p.hero-paragraph,
p.section-paragraph {
  font-size: 1.25rem;
  line-height: 1.5;
}

.text-sm {
  font-size: 1.125rem;
}
