<div class="is-boxed has-animations is-loaded lights-off">
  <div class="body-wrap boxed-container">
    <header class="site-header">
      <div class="container">
        <div class="site-header-inner">
          <div class="brand header-brand">
            <h1 class="m-0">
              <a>
                <img
                  class="header-logo-image asset-light"
                  src="assets/landing-page-template/images/logo-light.svg"
                  alt="Logo"
                />
                <img
                  class="header-logo-image asset-dark"
                  src="assets/landing-page-template/images/logo-dark.svg"
                  alt="Logo"
                />
              </a>
            </h1>
          </div>
        </div>
      </div>
    </header>

    <main>
      <section class="hero">
        <div class="container">
          <div class="hero-inner">
            <div class="hero-copy">
              <h1 class="hero-title mt-0">
                Turn your pet <br />
                into art
              </h1>
              <p class="hero-paragraph">
                Your pawsome pictures could be so much more...
              </p>
              <div class="hero-cta">
                <a class="button button-primary" routerLink="/styles-selection"
                  >Create Mug</a
                >
                <div class="lights-toggle" style="display: none">
                  <input
                    id="lights-toggle"
                    type="checkbox"
                    name="lights-toggle"
                    class="switch"
                    checked="unchecked"
                  />
                  <label for="lights-toggle" class="text-xs"
                    ><span
                      >Turn me <span class="label-text">dark</span></span
                    ></label
                  >
                </div>
              </div>
            </div>
            <div class="hero-media">
              <div class="header-illustration">
                <img
                  class="header-illustration-image asset-light"
                  src="assets/landing-page-template/images/header-illustration-light.svg"
                  alt="Header illustration"
                />
                <img
                  class="header-illustration-image asset-dark"
                  src="assets/landing-page-template/images/header-illustration-dark.svg"
                  alt="Header illustration"
                />
              </div>
              <div class="hero-media-illustration">
                <img
                  class="hero-media-illustration-image asset-light"
                  src="assets/landing-page-template/images/hero-media-illustration-light.svg"
                  alt="Hero media illustration"
                />
                <img
                  class="hero-media-illustration-image asset-dark"
                  src="assets/landing-page-template/images/hero-media-illustration-dark.svg"
                  alt="Hero media illustration"
                />
              </div>
              <div class="hero-media-container">
                <img
                  class="hero-media-image asset-light"
                  src="assets/landing-page-template/images/hero-media-light.svg"
                  alt="Hero media"
                />
                <img
                  class="hero-media-image asset-dark"
                  src="assets/landing-page-template/images/hero-media-dark.svg"
                  alt="Hero media"
                />
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="features section">
        <div class="container">
          <div class="features-inner section-inner has-bottom-divider">
            <div class="features-header text-center">
              <div class="container-sm">
                <h2 class="section-title mt-0">Custom Mug From Pet Picture</h2>
                <p class="section-paragraph">
                  Wake up to a one-of-a-kind, custom coffee mug with YOUR pet!
                  Look forward to every cup of coffee in the morning with your
                  adorable pet customized on a mug! It's sure to make you smile
                  with every sip.
                </p>
                <div class="features-image">
                  <img
                    class="features-illustration asset-dark"
                    src="assets/landing-page-template/images/features-illustration-dark.svg"
                    alt="Feature illustration"
                  />
                  <img
                    class="features-box asset-dark"
                    src="assets/landing-page-template/images/features-box-dark.svg"
                    alt="Feature box"
                  />
                  <img
                    class="features-illustration asset-dark"
                    src="assets/landing-page-template/images/features-illustration-top-dark.svg"
                    alt="Feature illustration top"
                  />
                  <img
                    class="features-illustration asset-light"
                    src="assets/landing-page-template/images/features-illustration-light.svg"
                    alt="Feature illustration"
                  />
                  <img
                    class="features-box asset-light"
                    src="assets/landing-page-template/images/features-box-light.svg"
                    alt="Feature box"
                  />
                  <img
                    class="features-illustration asset-light"
                    src="assets/landing-page-template/images/features-illustration-top-light.svg"
                    alt="Feature illustration top"
                  />
                </div>
              </div>
            </div>
            <div class="features-wrap">
              <div class="feature" ngsReveal>
                <div class="feature-inner">
                  <div class="feature-icon">
                    <img
                      class="asset-light"
                      src="assets/landing-page-template/images/feature-01-light.svg"
                      alt="Feature 01"
                    />
                    <img
                      class="asset-dark"
                      src="assets/landing-page-template/images/feature-01-dark.svg"
                      alt="Feature 01"
                    />
                  </div>
                  <div class="feature-content">
                    <h3 class="feature-title mt-0">Approve Before You Buy</h3>
                    <p class="text-sm mb-0">
                      Send us your picture, we turn it into art within 2 days
                      for free. If you like it, we will print it!
                    </p>
                  </div>
                </div>
              </div>
              <div class="feature" ngsReveal>
                <div class="feature-inner">
                  <div class="feature-icon">
                    <img
                      class="asset-light"
                      src="assets/landing-page-template/images/feature-02-light.svg"
                      alt="Feature 02"
                    />
                    <img
                      class="asset-dark"
                      src="assets/landing-page-template/images/feature-02-dark.svg"
                      alt="Feature 02"
                    />
                  </div>
                  <div class="feature-content">
                    <h3 class="feature-title mt-0">Creative Memorial</h3>
                    <p class="text-sm mb-0">
                      Loosing a pet is like loosing a family member.. We know
                      that all too well.. This makes the perfect memorial for
                      your fur baby.
                    </p>
                  </div>
                </div>
              </div>
              <div class="feature" ngsReveal>
                <div class="feature-inner">
                  <div class="feature-icon">
                    <img
                      class="asset-light"
                      src="assets/landing-page-template/images/feature-03-light.svg"
                      alt="Feature 03"
                    />
                    <img
                      class="asset-dark"
                      src="assets/landing-page-template/images/feature-03-dark.svg"
                      alt="Feature 03"
                    />
                  </div>
                  <div class="feature-content">
                    <h3 class="feature-title mt-0">Unique Gift</h3>
                    <p class="text-sm mb-0">
                      This is the perfect gift for pet lovers. Get someone a new
                      favorite mug!
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="cta section">
        <div class="container-sm">
          <div class="cta-inner section-inner">
            <div class="cta-header text-center">
              <h2 class="section-title mt-0">How it works</h2>
              <p class="section-paragraph">
                Select an art-style, upload image and send it to us. We will
                turn it into art and send it to you. You decide if you want to
                purchase.
              </p>
              <div class="cta-cta">
                <a class="button button-primary" routerLink="/styles-selection"
                  >Create Mug</a
                >
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</div>
