@import "styles/style.scss";
@import "../../../../../colors.scss";

:host {
  box-sizing: border-box;
}

div.site-header-inner {
  justify-content: center;
}

img.header-logo-image {
  width: 100px;
  height: auto;
}

a.primary-btn {
  background-color: $accent-color !important;
  color: $primary-font-color !important;
  display: block !important;
}

.container {
  padding-top: 0;
  padding-bottom: 0;
}

h1,
h2,
h3 {
  font-family: m-bold;
  line-height: 1.5;
}

h1.hero-title {
  font-size: 3rem;
  line-height: normal;
}

h2.section-title {
  font-size: 2rem;
}

h3.feature-title {
  font-size: 1.5rem;
}

div,
p {
  color: $tertiary-font-color;
}

p.hero-paragraph {
  color: $secondary-font-color;
  font-size: 1.5rem !important;
}

p.hero-paragraph,
p.section-paragraph,
p.text-sm {
  font-size: 1.25rem;
  line-height: 1.5;
}
