<div class="container">
  <div class="hero-box">
    <div class="background">
      <h1>
        artistic, <br />

        <span
          ><div></div>
          custom,</span
        ><br />
        & unique.
      </h1>
      <img
        class="shadowed-img"
        src="/assets/images/transparent_mug_mockup.png"
        alt=""
      />
    </div>
  </div>

  <!-- <div class="swiper-container swiper-hero">
    <div class="swiper-wrapper">
      <div class="swiper-slide blue-background">
        <div class="square-ratio">
          <img
            id="person-mockup"
            class="shadowed-img"
            src="/assets/images/hero-image.png"
            alt=""
          />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="square-ratio">
          <img id="cat-mockup" src="/assets/images/cat_mug_mockup.png" alt="" />
        </div>
      </div>
    </div>
  </div> -->
  <div class="button-wrapper">
    <button class="primary-btn" routerLink="/styles-selection">
      Choose Art-Style
    </button>
  </div>
</div>
