<div class="back-arrow-container">
  <a routerLink="/styles-selection">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
    >
      <path d="M0 12l9-8v6h15v4h-15v6z" />
    </svg>
  </a>
</div>
<div class="swiper-container swiper-preview">
  <div class="swiper-wrapper">
    <div
      *ngFor="let url of selectedStyleImage?.mockupUrls"
      class="swiper-slide"
    >
      <div class="square-ratio">
        <img class="shadowed-img" [src]="url" alt="" />
      </div>
    </div>
  </div>
</div>

<div class="header container">
  <div class="title-price">
    <h2 class="product-title">Custom Mug</h2>
    <p class="price">29.99€</p>
  </div>
  <div class="style-price">
    <h3 class="art-style">{{ selectedStyleImage?.name }} Style</h3>
  </div>
</div>

<form
  (submit)="onSubmitForm($event)"
  class="personalisation-form container"
  ngNativeValidate
>
  <h2>Personalisation</h2>
  <div class="form-group">
    <label for="pet-name">Pet name (optional)</label>
    <input type="text" id="pet-name" (keyup)="petName = $event.target.value" />
  </div>
  <div class="form-group">
    <label for="pet-birth-month">Pet birthmonth (optional)</label>
    <input
      type="text"
      id="pet-birth-month"
      (keyup)="petBirthMonth = $event.target.value"
    />
  </div>
  <div class="form-group">
    <label for="pet-picture">Pet picture</label>
    <div class="custom-file-input">
      <p>{{ selectedFile?.name }}</p>
      <button>Upload Pet Photo</button>
    </div>
    <input
      type="file"
      id="pet-picture"
      (change)="selectedFile = $event.target.files[0]"
      accept="image/*"
      required
    />
  </div>
  <button class="primary-btn" type="submit" [class.disabled]="!selectedFile">
    Create Preview
  </button>
  <div class="transition-radius"></div>
</form>

<app-description-swiper class="description"></app-description-swiper>
<app-custom-footer></app-custom-footer>
