<div class="back-arrow-container">
  <a routerLink="/styles-selection">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
    >
      <path d="M0 12l9-8v6h15v4h-15v6z" />
    </svg>
  </a>
</div>
<div class="swiper-container swiper-preview">
  <div class="swiper-wrapper">
    <div
      *ngFor="let url of selectedStyleImage?.mockupUrls"
      class="swiper-slide image-outer-container"
    >
      <div class="image-inner-container">
        <img
          class="shadowed-img animate__animated animate__fadeInUp"
          [src]="url"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
<div class="container">
  <section>
    <h1 class="art-style">{{ selectedStyleImage?.name }} Style</h1>
    <p class="price">VAT incl. <span>19.99€</span></p>
  </section>
  <hr class="seperator" />
  <form
    (submit)="onSubmitForm($event)"
    class="personalisation-form"
    ngNativeValidate
  >
    <h2>Personalisation</h2>
    <div class="form-group">
      <label for="pet-name">Pet name (optional)</label>
      <input
        type="text"
        id="pet-name"
        (keyup)="petName = $event.target.value"
        placeholder="Lucky"
      />
    </div>
    <div class="form-group">
      <label for="pet-birth-month">Pet birthmonth + year (optional)</label>
      <input
        type="text"
        id="pet-birth-month"
        (keyup)="petBirthMonth = $event.target.value"
        placeholder="April 2017"
      />
    </div>
    <div class="form-group">
      <label for="pet-picture">Pet picture</label>
      <div class="custom-file-input">
        <p>{{ selectedFile?.name }}</p>
        <button>Upload Pet Photo</button>
      </div>
      <input
        type="file"
        id="pet-picture"
        (change)="selectedFile = $event.target.files[0]"
        accept="image/jpeg,image/png"
        required
      />
    </div>
    <button class="primary-btn" type="submit" [class.disabled]="!selectedFile">
      Create Preview
    </button>
  </form>
  <hr class="seperator" />
  <app-description-swiper class="description"></app-description-swiper>
</div>
<app-custom-footer></app-custom-footer>
