$accent-color: #ef233c;

$primary-font-color: hsl(0, 0%, 100%);
$secondary-font-color: hsl(0, 0%, 90%);
$tertiary-font-color: hsl(0, 0%, 85%);

$primary-background-color: #2b2d42;
$secondary-background-color: rgb(20, 20, 31);

$seperator-color: #646464;

$placeholder-font-color: hsl(0, 0%, 50%);
