$accent-color: #ef233c;
$secondary-color: #585b7e;

$light-dark-font-color: #cbcbcb;

$dark-font-color: #2b2d42;
$darkest-font-color: #1f2530;

$heading-color: #ffffff;
$subheading-color: #ececec;
$paragraph-color: #a3b7d8;

$primary-background-color: #2b2d42;
