$accent-color: #ef233c;

$primary-font-color: hsl(0, 0%, 100%);
$secondary-font-color: #f8f8f8;
$tertiary-font-color: #f3f3f3;

$primary-background-color: #3d3361;
$secondary-background-color: #f3f3ff;

$seperator-color: #646464;

$placeholder-font-color: #d6d6d6;
