@import "./colors.scss";
@import "~swiper/swiper-bundle";
//style-reset-----------------------------------------------------------
* {
  margin: 0;
  padding: 0;
  font-family: m-reg;
  color: $paragraph-color;
}

*:focus {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  font-size: 12px;
  height: 100%;
  overflow: auto;
}

body {
  background-color: $primary-background-color;
  height: 100%;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

.container {
  padding: 2.5rem;
}

.square-ratio {
  width: 100%;
  padding-top: 100%;
  position: relative;

  * {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    object-position: center;
  }
}

.primary-btn {
  width: 100%;
  color: white;
  border-radius: 100px;
  border: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: $accent-color;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: m-bold;
  box-shadow: #ef253c61 0 3px 20px;
}

.shadowed-img {
  -webkit-filter: drop-shadow(12px 12px 25px rgba(0, 0, 0, 0.5));
  //   filter: url(#drop-shadow);
  //   -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
  //   filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

//fonts-----------------------------------------------------------------

@font-face {
  font-family: "m-extra-light";
  src: url("/assets/fonts/Montserrat-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "m-light";
  src: url("/assets/fonts/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: "m-light-it";
  src: url("/assets/fonts/Montserrat-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "m-reg";
  src: url("/assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "m-med";
  src: url("/assets/fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "m-semi-bold";
  src: url("/assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "m-bold";
  src: url("/assets/fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "pf-reg";
  src: url("/assets/fonts/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
}

//responsive----------------------------------------------------------------------------
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

// Small devices (landscape phones, 576px and up)
@media (min-width: map-get($grid-breakpoints, sm)) {
  html {
    font-size: 14px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: map-get($grid-breakpoints, md)) {
  html {
    font-size: 16px;
  }
}
